In [2]:
import pandas as pd
IMDb = pd.read_excel(r"C:\Users\indig\Downloads\IMDb Record (KGF2).xlsx")
IMDb
# A) Here's the frequency distribution of ratings for "KGF2" on IMDb:

   Rating  Number of votes
0      10           100000
1       9            13000
2       8             9100
3       7             5500
4       6             3100
5       5             1900
6       4             1000
7       3              931
8       2              974
9       1             6100

In [3]:
# A) Get the Rating and Votes in the list
ratings = IMDb["Rating"].tolist()
votes = IMDb["Number of votes"].tolist()

In [21]:
# A) Frequency Distribution and Arithmetic Mean:
Arithmetic_mean = sum(ratings * votes for ratings, votes in zip(ratings, votes)) / sum(votes)
print("Arithmetic Mean:", Arithmetic_mean)

Arithmetic Mean: 1.8585219448465802

In [6]:
# B) Median as a more suitable measure for an overall rating depends on the distribution of ratings
votes.sort()
print(votes)

if len(votes)%2 == 0:
    print("Even no. of elements!")
    print("To find the middle two elements & taking their average to get the median:")

else:
    print("Odd no. of elements!")
    print("To find middle element to get median.")

leng1 = len(votes) 

if len(votes)%2 == 0:
    index1_val = votes[int(leng1 / 2)]
    index2_val = votes[int(leng1 / 2) + 1]
    median1 = (index1_val + index2_val) / 2 - 2
else:
    median1 = [votes[int(leng1 / 2)]]
print(f'Median = {median1}')

[931, 974, 1000, 1900, 3100, 5500, 6100, 9100, 13000, 100000]
Even no. of elements!
To find the middle two elements & taking their average to get the median:
Median = 5798.0

In [7]:
# C) Here's the frequency distribution of ratings for "Jersey"("Orginal Movie") on IMDb:
import pandas as pd
Orginal = pd.read_excel(r"C:\Users\indig\Downloads\Jersey(Telugu).xlsx")
Orginal

   Ratings  No. of votes
0       10          9500
1        9          4600
2        8          3500
3        7          1500
4        6           487
5        5           188
6        4            72
7        3            47
8        2            53
9        1           436

In [8]:
# C) Get the Rating and Votes into List of Orginal Movie
RatingsOrg = Orginal["Ratings"].tolist()
VotesOrg= Orginal["No. of votes"].tolist()

In [9]:
# C) The Arithmetic Mean of the Orginal Movie :
Arithmetic_mean = sum(RatingsOrg * VotesOrg for RatingsOrg, VotesOrg in zip(RatingsOrg, VotesOrg)) / sum(VotesOrg)
print("Arithmetic Mean:", Arithmetic_mean)

Arithmetic Mean: 8.81778933424913

In [10]:
# C) The Median of the Orginal Movie :
VotesOrg.sort()
print(VotesOrg)

if len(VotesOrg)%2 == 0:
    print("Even no. of elements!")
    print("To find the middle two elements & taking their average to get the median:")

else:
    print("Odd no. of elements!")
    print("To find middle element to get median.")

leng1 = len(VotesOrg) 

if len(VotesOrg)%2 == 0:
    index1_val = VotesOrg[int(leng1 / 2)]
    index2_val = VotesOrg[int(leng1 / 2) + 1]
    median1 = (index1_val + index2_val) / 2 - 2
else:
    median1 = [VotesOrg[int(leng1 / 2)]]
print(f'Median = {median1}')

[47, 53, 72, 188, 436, 487, 1500, 3500, 4600, 9500]
Even no. of elements!
To find the middle two elements & taking their average to get the median:
Median = 991.5

In [11]:
# C)The standard deviation of the Orginal Movie :
mean = sum(RatingsOrg * VotesOrg for RatingsOrg, VotesOrg in zip(RatingsOrg, VotesOrg)) / sum(VotesOrg)
std_dev = (sum(VotesOrg * (RatingsOrg - mean) ** 2 for RatingsOrg, VotesOrg in zip(RatingsOrg, VotesOrg)) / sum(VotesOrg)) ** 0.5
print("Standard Deviation:", std_dev)

Standard Deviation: 1.4522950261488716

In [ ]:
def std_deviation(data_Asuran):
    return variance(data_Asuran) ** 0.5

print("Standard deviation:", std_deviation(data_Asuran))

In [12]:
# C) The IQR of the Orginal Movie
sorted_votes_org = []
for num_vote in VotesOrg:
    sorted_votes_org.extend([num_vote])

sorted_votes_org.sort()

# Calculate the first and third quartiles for the remake
n = len(sorted_votes_org)
q1_index = int(n * 0.25)
q3_index = int(n * 0.75)
q1 = sorted_votes_org[q1_index]
q3 = sorted_votes_org[q3_index]

# Calculate the Interquartile Range (IQR) for the remake
iqr = q3 - q1
print("Interquartile Range (IQR) for the remake:", iqr)

Interquartile Range (IQR) for the remake: 3428

In [13]:
# C) Here's the frequency distribution of ratings for "Jersey"("Remake Movie") on IMDb:
import pandas as pd
Remake = pd.read_excel(r"C:\Users\indig\Downloads\Jersey(Hindi).xlsx")
Remake

   IMDb Rating  Num of votes
0           10          4300
1            9          1600
2            8          2300
3            7          2000
4            6           884
5            5           448
6            4           206
7            3           142
8            2           195
9            1          1900

In [14]:
# C) Get the Rating and Votes into List of Remake Movie
RatingRemd = Remake["IMDb Rating"].tolist()
VotesRemd = Remake["Num of votes"].tolist()

In [15]:
# C) The Arithmetic Mean of the Remake Movie :
Arithmetic_mean = sum(RatingRemd * VotesRemd for RatingRemd, VotesRemd in zip(RatingRemd, VotesRemd)) / sum(VotesRemd)
print("Arithmetic Mean:", Arithmetic_mean)

Arithmetic Mean: 7.218890876565295

In [16]:
# C) The Median of the Remake Movie :
VotesRemd.sort()
print(VotesRemd)

if len(VotesRemd)%2 == 0:
    print("Even no. of elements!")
    print("To find the middle two elements & taking their average to get the median:")

else:
    print("Odd no. of elements!")
    print("To find middle element to get median.")

leng1 = len(VotesRemd) 

if len(VotesRemd)%2 == 0:
    index1_val = VotesRemd[int(leng1 / 2)]
    index2_val = VotesRemd[int(leng1 / 2) + 1]
    median1 = (index1_val + index2_val) / 2 - 2
else:
    median1 = [VotesRemd[int(leng1 / 2)]]
print(f'Median = {median1}')

[142, 195, 206, 448, 884, 1600, 1900, 2000, 2300, 4300]
Even no. of elements!
To find the middle two elements & taking their average to get the median:
Median = 1748.0

In [17]:
# C)The standard deviation of the Remake Movie :
mean = sum(RatingRemd * VotesRemd for RatingRemd, VotesRemd in zip(RatingRemd, VotesRemd)) / sum(VotesRemd)
std_dev = (sum(VotesRemd * (RatingRemd - mean) ** 2 for RatingRemd, VotesRemd in zip(RatingRemd, votes)) / sum(VotesRemd)) ** 0.5
print("Standard Deviation:", std_dev)

Standard Deviation: 6.82020644483448

In [18]:
# C) The IQR of the Remake Movie
# Calculate the sorted list of repeated votes for the remake
sorted_votes_remd = []
for num_vote in VotesRemd:
    sorted_votes_remd.extend([num_vote])

sorted_votes_remd.sort()

# Calculate the first and third quartiles for the remake
n = len(sorted_votes_remd)
q1_index = int(n * 0.25)
q3_index = int(n * 0.75)
q1 = sorted_votes_remd[q1_index]
q3 = sorted_votes_remd[q3_index]

# Calculate the Interquartile Range (IQR) for the remake
iqr = q3 - q1
print("Interquartile Range (IQR) for the remake:", iqr)

Interquartile Range (IQR) for the remake: 1794