In [1]:
import pandas as pd

org_movie = pd.DataFrame({'Name':['Vikram Vedha', 'Vikram Vedha' , 'Vikram Vedha' , 'Vikram Vedha' , 'Vikram Vedha' , 
                                  'Vikram Vedha' , 'Vikram Vedha' , 'Vikram Vedha' , 'Vikram Vedha' , 'Vikram Vedha' ], 
                          'Ratings(xi)':[10,9,8,7,6,5,4,3,2,1], 
                          'Frequency(fi)':[19000,12000,9200,3700,1200,599,280,179,189,1400]})
rmk_movie = pd.DataFrame({'Name':['Vikram Vedha', 'Vikram Vedha' , 'Vikram Vedha' , 'Vikram Vedha' , 'Vikram Vedha' , 
                                  'Vikram Vedha' , 'Vikram Vedha' , 'Vikram Vedha' , 'Vikram Vedha' , 'Vikram Vedha' ], 
                          'Ratings(xi)':[10,9,8,7,6,5,4,3,2,1], 
                          'Frequency(fi)':[7200,2100,3100,2700,1100,604,290,275,428,4500]})

In [2]:
print('Original movie dataset\n')
org_movie

Original movie dataset

           Name  Ratings(xi)  Frequency(fi)
0  Vikram Vedha           10          19000
1  Vikram Vedha            9          12000
2  Vikram Vedha            8           9200
3  Vikram Vedha            7           3700
4  Vikram Vedha            6           1200
5  Vikram Vedha            5            599
6  Vikram Vedha            4            280
7  Vikram Vedha            3            179
8  Vikram Vedha            2            189
9  Vikram Vedha            1           1400

In [3]:
print('Remake movie dataset\n')
rmk_movie

Remake movie dataset

           Name  Ratings(xi)  Frequency(fi)
0  Vikram Vedha           10           7200
1  Vikram Vedha            9           2100
2  Vikram Vedha            8           3100
3  Vikram Vedha            7           2700
4  Vikram Vedha            6           1100
5  Vikram Vedha            5            604
6  Vikram Vedha            4            290
7  Vikram Vedha            3            275
8  Vikram Vedha            2            428
9  Vikram Vedha            1           4500

In [4]:
import numpy as np

sorted_ratings_org = np.repeat(org_movie['Ratings(xi)'],org_movie['Frequency(fi)'])

mean_org=sum(sorted_ratings_org)/(len(sorted_ratings_org))
median_org = np.median(sorted_ratings_org)

sorted_ratings_rmk = np.repeat(rmk_movie['Ratings(xi)'],rmk_movie['Frequency(fi)'])

mean_rmk=sum(sorted_ratings_rmk)/(len(sorted_ratings_rmk))
median_rmk = np.median(sorted_ratings_rmk)

print('Mean of original movie :',mean_org,'\nMean of remake movie :',mean_rmk)
print('\nMedian of original movie :',median_org,'\nMedian of remake movie :',median_rmk)

# If the mean is different from the median, it might indicate the presence of outliers.
# The mean can be affected by outliers, whereas the median can not be affected by the outliers.

Mean of original movie : 8.610593335706955
Mean of remake movie : 6.797371843745795

Median of original movie : 9.0
Median of remake movie : 8.0

In [5]:
import statistics

std_org = statistics.stdev(sorted_ratings_org)
std_rmk = statistics.stdev(sorted_ratings_rmk)

print("Standard Deviation of original movie :", std_org,"\nStandard Deviation of remake movie :", std_rmk)

# If all the values in the dataset are identical, the standard deviation will be 0.
# A positive standard deviation greater than 0 signifies that the data points are spread out from the mean.

Standard Deviation of original movie : 1.8783019733022768
Standard Deviation of remake movie : 3.405725342038319